<h1>User List</h1>

{{#if serverSuccess}}
<div class="alert alert-success">{{serverSuccess}}</div>
{{/if}}
{{#if serverError}}
  <div class="alert alert-danger">{{serverError}}</div>
{{/if}}

<a href="/create" class="btn btn-primary mb-3">Create New User</a>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Start Date And Time</th>
      <th scope="col">End Date And Time</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each userList}}
      <tr>
        <th scope="row">{{this.Title}}</th>
        <td>{{this.Description}}</td>
        <td>{{this.StartDateandTime}}</td>
        <td>{{this.EndDateandTime}}</td>
        <td>{{this.Priority}}</td>
        <td>{{this.Status}}</td>
        <td>
          <a href="/edit/{{this.id}}" class="btn btn-primary ">Edit</a>
          <a href="/delete/{{this.id}}" class="btn btn-danger ">Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>